 <%= form_for :branchOffice, url: url do|form| %>
    <div class="mb-6">
            Nombre: <%= form.text_field :name, value: branch_office.name %>
    </div>
    <div class="mb-6">
        direccion: <%= form.text_field :direc, value: branch_office.direc %>
    </div>
    <div class="mb-6">
        Telefono: <%= form.text_field :tel, value: branch_office.tel %>
    </div>
    <div class="flex justify-center mt-10">
        <%= form.submit "Agregar Sucursal", data: { confirm: "Seguro que quiere modificar su contraseña?" },class:"text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
    </div>
    <% end %>