<div class="block h-96 w-86 p-6 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700 my-12">
    <h2 class="text-3xl mb-6"> Nueva Sucursal </h2>
    <%= form_for :branchOffice, url: "/branchoffices/create" do|form| %>
    <div class="mb-6">
            Nombre: <%= form.text_field :name %>
    </div>
    <div class="mb-6">
        direccion: <%= form.text_field :direc %>
    </div>
    <div class="mb-6">
        Telefono: <%= form.text_field :tel %>
    </div>
    <div class="flex justify-center mt-10">
        <%= form.submit "Agregar Sucursal", data: { confirm: "Seguro que quiere modificar su contraseña?" },class:"text-white bg-green-700 hover:bg-green-800 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
    </div>
    <% end %>
    <% flash.each do |type, msg| %>
        <% if type == "alert"%>
        <div class="flex justify-center text-red-700 font-bold text-xl">
            <%= msg %>
        </div>
        <% else %>
            <div class="flex justify-center text-green-700 font-bold text-xl">
                <%= msg %>
            </div>
        <% end %>
    <% end %>
</div>